[submodule "FitLayout"]
	path = FitLayout
	url = git@github.com:FitLayout/FitLayout.git
	branch = master
[submodule "FitLayoutWeb"]
	path = FitLayoutWeb
	url = git@github.com:FitLayout/FitLayoutWeb.git
	branch = master
[submodule "fitlayout-puppeteer"]
	path = fitlayout-puppeteer
	url = git@github.com:FitLayout/fitlayout-puppeteer.git
	branch = main
