[submodule "FitLayout"]
	path = FitLayout
	url = https://github.com/FitLayout/FitLayout.git
	branch = main
[submodule "FitLayoutWeb"]
	path = FitLayoutWeb
	url = https://github.com/FitLayout/FitLayoutWeb.git
	branch = main
[submodule "fitlayout-puppeteer"]
	path = fitlayout-puppeteer
	url = https://github.com/FitLayout/fitlayout-puppeteer.git
	branch = main
[submodule "PageView"]
	path = PageView
	url = https://github.com/FitLayout/PageView.git
	branch = main
